Repository TheWisdomChurch/Frontend-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "node ./node_modules/prettier/bin/prettier.cjs --write",
    "node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored"
  ],
  "*.{json,md,mdx,css,scss,html,yml,yaml}": [
    "node ./node_modules/prettier/bin/prettier.cjs --write"
  ]
}

fixes
  package-lock.json
  tsconfig.json
Due: node ./node_modules/prettier/bin/prettier.cjs --write

fix-push
  package-lock.json
  package.json
Due: node ./node_modules/prettier/bin/prettier.cjs --write

Fix pre-push hook: skip TypeScript check and improve tsconfig excludes
  .githooks/pre-push
Due: none

fix-error-lint-changes
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/about/page.tsx
  tsconfig.json
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

fix-push
  src/app/not-found.tsx
  src/app/resources/sermons/page.tsx
  src/features/leadership/SeniorPastor.tsx
  src/lib/data.ts
  src/shared/components/Footer.tsx
  src/shared/components/site/PublicPageBlocks.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

ui-fix
  src/app/globals.scss
  src/app/page.tsx
  src/app/preview/page.tsx
  src/features/EngagementSection.tsx
  src/features/WhatWeDo.tsx
  src/features/events/EventsShowcase.tsx
  src/features/hero/HeroMain.tsx
  src/features/hero/PageHero.tsx
  src/features/leadership/SeniorPastor.tsx
  src/features/testimonials/Testimonials.tsx
  src/shared/components/Footer.tsx
  src/shared/components/Header.tsx
  src/shared/layout/Container.tsx
  src/shared/layout/Section.tsx
  src/types/lucide-react.d.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

Ui-dev
  src/features/WhatWeDo.tsx
  src/features/leadership/SeniorPastor.tsx
  src/features/testimonials/Testimonials.tsx
  src/lib/data.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

Ui-hero-main
  src/app/globals.scss
  src/app/page.tsx
  src/features/hero/SliderHero.tsx
  src/shared/components/ClientHeader.tsx
  src/shared/components/Navigation.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP - logs-error-fix
  src/app/globals.scss
  src/app/resources/page.tsx
  src/app/resources/sermons/page.tsx
  src/components/common/Footer.tsx
  src/components/features/leadership/SeniorPastor.tsx
  src/components/ui/modals/joinUsModal.tsx
  src/lib/data.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP- fix-commit-
  RESPONSIVE_BACKEND_GUIDE.md
  RESPONSIVE_IMPROVEMENTS_SUMMARY.md
  src/components/analytics/index.ts
  src/components/features/events/index.ts
  src/components/features/hero/index.ts
  src/components/features/leadership/index.ts
  src/components/features/resources/index.ts
  src/components/features/store/index.ts
  src/components/features/testimonials/index.ts
  src/components/icons/index.ts
  src/components/layout/index.ts
  src/components/text/index.ts
  src/components/ui/index.ts
  src/components/utils/TabsToggle.tsx
  src/components/utils/functionUtils/index.ts
  src/components/utils/hooks/index.ts
  src/components/utils/hooks/mainHeroHooks/index.ts
  src/components/utils/index.ts
  src/hooks/index.ts
  src/hooks/useModalForm.tsx
  src/hooks/useResponsive.ts
  src/lib/api/apiClient.ts
  src/lib/api/eventRegistrationService.ts
  src/lib/api/eventsService.ts
  src/lib/api/givingService.ts
  src/lib/api/index.ts
  src/lib/index.ts
  src/lib/modal-responsive.ts
  src/lib/responsive.ts
  src/lib/utils.ts
  src/types/lucide-react.d.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP- fix-commit-
  ANALYTICS_EXAMPLES.tsx
  src/components/common/Header.tsx
  src/hooks/useAnalytics.ts
  src/lib/api/eventRegistrationService.ts
  src/lib/index.ts
  src/types/lucide-react.d.ts
  src/types/vendor-shims.d.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP- fix-commit-
  src/app/page.tsx
  src/components/common/ClientFooter.tsx
  src/components/common/ClientHeader.tsx
  src/components/common/ClientScrollHandler.tsx
  src/components/common/ClientscrollTop.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/Footer.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP- fix-commit-
  eslint.config.mjs
Due: none

WIP- fix-commit-
  src/styles/_buttons.scss
Due: node ./node_modules/prettier/bin/prettier.cjs --write

WIP- fix-commit-
  src/styles/_animations.scss
Due: node ./node_modules/prettier/bin/prettier.cjs --write

WIP-fixBugs
  src/app/globals.scss
  src/app/layout.tsx
  src/components/common/Header.tsx
  src/components/ui/analytics/AnalyticsDashboard.tsx
  src/components/ui/analytics/CookieConsentBanner.tsx
  src/hooks/useHeroContent.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP-fixBugs
  src/components/ui/analytics/AnalyticsDashboard.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP - fix-dev
  src/components/features/events/OnlineGiving.tsx
  src/components/features/hero/HeroHighlights.tsx
  src/lib/analytics/AnalyticsService.ts
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP - fixchanges
  src/app/globals.scss
  src/app/page.tsx
  src/components/common/Header.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored

WIP - fix changes
  src/app/page.tsx
Due: node ./node_modules/prettier/bin/prettier.cjs --write, node ./node_modules/eslint/bin/eslint.js --fix --max-warnings 0 --no-warn-ignored
