Repository TheWisdomChurch/Frontend-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Confession-modal-fixed-responsiveness
  src/components/ui/ConfessionPopup.tsx
  src/components/utils/hooks/Useconfession.ts
Due: prettier --write, eslint --fix

Setup-fix | improve runtime
  docker-compose.yml
  nginx.conf
  src/components/assets/Aduragbemi.jpgZone.Identifier
  src/components/assets/Asso (1).jpgZone.Identifier
  src/components/assets/Asso (2).jpgZone.Identifier
  src/components/assets/Journal.jfifZone.Identifier
  src/components/assets/Keystone.webpZone.Identifier
  src/components/assets/Moji.jpegZone.Identifier
  src/components/assets/Providus.jpgZone.Identifier
  src/components/assets/Whatwedo (1).jpgZone.Identifier
  src/components/assets/Whatwedo (2).jpgZone.Identifier
  src/components/assets/Whatwedo (3).jpgZone.Identifier
  src/components/assets/Whatwedo.jpgZone.Identifier
  src/components/assets/WisdomShirt__1_.pngZone.Identifier
  src/components/assets/WisdomShirt__2_-.pngZone.Identifier
  src/components/assets/bishop.webpZone.Identifier
  src/components/assets/book1.jfifZone.Identifier
  src/components/assets/cap.pngZone.Identifier
  src/components/assets/hero_img (1).jpgZone.Identifier
  src/components/assets/hero_img (2).jpgZone.Identifier
  src/components/assets/hero_img (3).jpgZone.Identifier
  src/components/assets/hero_img (4).jpgZone.Identifier
  src/components/assets/img (2).jpgZone.Identifier
  src/components/assets/img (3).jpgZone.Identifier
  src/components/assets/img (4).jpgZone.Identifier
  src/components/assets/mrsKenny.jfifZone.Identifier
  src/components/assets/mug.pngZone.Identifier
  src/components/assets/mug2.pngZone.Identifier
  src/components/assets/tote.pngZone.Identifier
Due: prettier --write

docker-build-error-fix
  .dockerignore
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
  src/components/ui/Homepage/Resource.tsx
Due: prettier --write, eslint --fix

landing-page-update
  public/HEADER 2.jpg.jpeg
  public/HEADER 2.jpg.jpeg:Zone.Identifier
  public/HEADER.png
  public/HEADER.png:Zone.Identifier
  src/app/about/page.tsx
  src/app/cookies/page.tsx
  src/app/events/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/leadership/page.tsx
  src/app/ministries/page.tsx
  src/app/page.tsx
  src/app/terms/page.tsx
  src/app/testimonies/page.tsx
  src/components/contexts/ThemeContext.tsx
  src/components/layout/ThemeToggle.tsx
  src/components/layout/header.tsx
  src/components/ui/ConfessionPopup.tsx
  src/components/ui/Homepage/AssociatePastors.tsx
  src/components/ui/Homepage/EventsShowcase.tsx
  src/components/ui/Homepage/HeroHighlights.tsx
  src/components/ui/Homepage/Herosection.tsx
  src/components/ui/Homepage/JoinUs.tsx
  src/components/ui/Homepage/Resource.tsx
  src/components/ui/Homepage/SeniorPastor.tsx
  src/components/ui/Homepage/Testimonials.tsx
  src/components/ui/Homepage/WhatWeDo.tsx
  src/components/ui/Homepage/heromain.tsx
  src/components/utils/hooks/Useconfession.ts
  src/components/utils/hooks/mainHeroHooks/useAutoSlide.ts
  src/lib/api.ts
  src/lib/data.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

updated-Ui-images-layout
  docker-compose-prod.yml
  src/app/testimonies/page.tsx
  src/components/assets/Bishop_1.png
  src/components/assets/DeaconAdeyemi.png
  src/components/assets/Layer 756-1.png:Zone.Identifier
  src/components/assets/Layer 756.png:Zone.Identifier
  src/components/assets/Layer 760-1.png:Zone.Identifier
  src/components/assets/Layer 760.png:Zone.Identifier
  src/components/assets/Layer 768 copy.png:Zone.Identifier
  src/components/assets/Pst.Bamidele.png
  src/components/assets/Pst.Kenny.png
  src/components/assets/Rev..png
  src/components/assets/bishopp.png
  src/components/assets/bishopp.png:Zone.Identifier
  src/components/assets/index.ts
  src/components/layout/header.tsx
  src/components/ui/Homepage/AssociatePastors.tsx
  src/components/ui/Homepage/EventsShowcase.tsx
  src/components/ui/Homepage/SeniorPastor.tsx
  src/components/ui/Homepage/heromain.tsx
  src/components/utils/buttons/CustomButton.tsx
  src/lib/api.ts
  src/lib/apiTypes.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix

join_us-quick-fix
  src/components/modal/DepartmentModals.tsx
  src/components/ui/ConfessionPopup.tsx
  src/components/ui/Homepage/JoinUs.tsx
Due: prettier --write, eslint --fix

images-quickFix
  Caddyfile
  docker-compose-prod.yml
  package-lock.json
  src/app/api/sermons/route.ts
  src/components/assets/Community service.svg:Zone.Identifier
  src/components/assets/Community_service.svg
  src/components/assets/Frame 1000006070.png:Zone.Identifier
  src/components/assets/Frame 1000006071.png:Zone.Identifier
  src/components/assets/Frame 1000006073.png:Zone.Identifier
  src/components/assets/Prayer gathering.svg:Zone.Identifier
  src/components/assets/Worship service.svg:Zone.Identifier
  src/components/assets/Worship_service.svg
  src/components/assets/Youth gathering.svg:Zone.Identifier
  src/components/assets/Youth_gathering.svg
  src/components/assets/hero1.png
  src/components/assets/hero2.png
  src/components/assets/hero3.png
  src/components/assets/index.ts
  src/components/assets/prayer_gathering.svg
  src/components/ui/Homepage/Resource.tsx
  src/lib/api.ts
  src/lib/data.ts
Due: prettier --write, eslint --fix

git-actions-commit
  .github/workflow/docker-publish.yml
  .github/workflow/validate.yml
Due: prettier --write

action-token-fix
  .github/workflow/docker-publish.yml
Due: prettier --write

Actions-setup-1
  Caddyfile
  docker-compose-prod.yml
Due: prettier --write

Git-actions-setup
  .github/workflows/docker-publish.yml
Due: prettier --write

Action-production-fix
  .github/workflows/docker-publish.yml
  Dockerfile
  package.json
Due: prettier --write

Docker-action-push-fix
  .github/workflows/docker-publish.yml
Due: prettier --write

SEO-Fix
  Dockerfile
  next.config.ts
  package-lock.json
  package.json
  src/app/layout.tsx
Due: prettier --write, eslint --fix

updated UI | SEO fix
  public/logo.webp
  src/app/forms/[slug]/page.tsx
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/assets/Container.png
  src/components/assets/index.ts
  src/components/assets/mobile.jpg.jpeg
  src/components/ui/Homepage/EventsShowcase.tsx
Due: prettier --write, eslint --fix

updated-patches
  src/app/forms/[slug]/page.tsx
  src/components/ui/Homepage/EventsShowcase.tsx
Due: prettier --write, eslint --fix

Ui-fix-Associate-pastor-page
  src/components/ui/Homepage/AssociatePastors.tsx
Due: prettier --write, eslint --fix

modal-button-fix
  src/app/layout.tsx
  src/components/contexts/ServiceUnavailableContext.tsx
  src/components/modal/DepartmentModals.tsx
  src/components/modal/EventRegistrationModal.tsx
  src/components/modal/FormModal.tsx
  src/components/modal/ServiceUnavailableSheet.tsx
  src/components/modal/reminderModal.tsx
  src/components/ui/Homepage/HeroHighlights.tsx
  src/components/ui/Homepage/JoinUs.tsx
  src/components/ui/Homepage/OnlineGiving.tsx
  src/components/ui/Homepage/heromain.tsx
Due: prettier --write, eslint --fix

quick-fix
  public/OIP.webp
  public/OIP.webp:Zone.Identifier
Due: none

push dev
  src/lib/api.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
  eslint --fix: any of: *.{ts,tsx}
